[submodule "content/en/docs/procontel.sdk"]
	path = content/en/docs/procontel.sdk
	url = https://github.com/Macrix/procontel.sdk.git
[submodule "content/en/docs/procontel.cli"]
	path = content/en/docs/procontel.cli
	url = https://github.com/Macrix/procontel.cli.git
[submodule "content/en/docs/procontel"]
	path = content/en/docs/procontel
	url = https://github.com/Macrix/procontel.git
[submodule "content/en/docs/procontel.sdk.commands"]
	path = content/en/docs/procontel.sdk.commands
	url = https://github.com/Macrix/procontel.sdk.commands.git
